@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #202142;
  color: #fff;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  /* color: #ff6a95; */
  color: #fff;
  position: static;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  color: #202142;
  margin: 1rem 5rem;
  border-radius: 8px;
}

.form-container {
    margin: 0 5rem;
    background-color: #fff;
    color: #202142;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

.form-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 50%;
}

.form-btn{
  cursor: pointer;
  border: none;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 7px;
  background-color: #202142;
  color: #fff;
}

.form-btn:active{
  transform: scale(0.96);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 1rem;
}

select {
  padding: 8px;
  margin-bottom: 1rem;
}

.fav-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
}

.books-list{
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 10px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #202142;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
}

.book-buttons{
  display: flex;
  margin-left: 1rem;
}

.book button {
  font-size: 1rem;
  cursor: pointer;
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book button:active{
  transform: scale(0.9);
}

